// Define variables for your color scheme

// For example:
$red: #FC6262;
$blue: #9DA3A4;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #D5C5C8;
$light-gray: #F4F4F4;
$purple: #604D53;
$light-pink: #FFDBDA;
