// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-light {
  font-size: 20px;
}

.navbar-brand {
  padding: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

.navbar-light .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-light .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 1);
  // text-decoration: none;
}

.navbar-light .nav-item .nav-link:focus {
  color: rgba(255, 255, 255, 1);
}

.nav-link {
  padding: 5px 0;
}

.nav-link:active {
  color: white;
}

.nav-item .active {
  color: white;
}
